<ion-content class="blur-bg" [fullscreen]="true">
  <ng-container *ngIf="challenge && challenge.startingTimestamp">
    <div
      class="max-w-7xl mx-auto px-4 pt-12 sm:px-6 lg:py-16 lg:px-8 flex flex-col justify-between"
    >
      <button class="uppercase text-sm text-left opacity-70" (click)="goBack()">
        <ion-icon name="chevron-back-outline" class="-mb-0.5"></ion-icon> Voltar
      </button>

      <div class="orb-type">
        <span
          class="block mt-4 font-display uppercase font-bold tracking-widest"
          >Orbe {{ challengeTypeDisplayName[challenge.type] }}</span
        >
        <div *ngIf="challenge.type === 'stan'">
          <span>{{challenge.artist.name}}</span>
          <ion-thumbnail class="artist-picture" slot="start">
            <img [alt]="challenge.artist.name" [src]="challenge.artist.pictureUrl" />
          </ion-thumbnail>
          <img
            class="orb-image"
            alt="Colored orb"
            [src]="orbImages[challenge.type]"
          />
        </div>
      </div>

      <span class="block mt-2" *ngIf="!finished">
        Desafio {{ startingTimeDisplayName }}
      </span>
      <span class="block mt-2" *ngIf="finished">
        Desafio {{ endingTimeDisplayName }}
      </span>

      <span class="block mt-4"
        ><button ion-button icon-only (click)="copyId()">
          Copiar ID
          <ion-icon name="copy-outline"></ion-icon></button
      ></span>

      <div class="divider"></div>

      <div class="flex flex-col mt-6" *ngIf="finished">
        <h2 class="uppercase font-bold mb-4">VENCEDOR</h2>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img
              alt="Silhouette of a person's head"
              [src]="challengeParticipants[0].pictureUrl"
            />
          </ion-avatar>

          <ion-label
            >{{challengeParticipants[0].name.split(" ")[0]}}:
            {{challengeParticipants[0].points}} pontos</ion-label
          >
        </ion-item>
      </div>

      <div class="flex flex-col mt-6" *ngIf="challengeParticipants.length">
        <h2 class="uppercase font-bold mb-4">PARTICIPANTES</h2>
        <ion-item *ngFor="let user of challengeParticipants" lines="none">
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" [src]="user.pictureUrl" />
          </ion-avatar>

          <ion-label
            >{{user.name.split(" ")[0]}}: {{user.points}} pontos</ion-label
          >
        </ion-item>
      </div>
    </div>

    <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
      <div class="divider"></div>
      <h2 class="uppercase font-bold mb-4">Histórico</h2>
      <div class="flex flex-col w-full">
        <ng-container *ngFor="let song of allHistory">
          <div *ngIf="song.userName" class="self-start py-3 bg-fuchsia-800">
            <div>
              <span class="font-display font-bold text-6l"
                ><strong>{{ song.userName }}</strong> fez {{ song.points }}
                pontos ouvindo</span
              >
            </div>
            <div>
              <p class="text-2xl mt-0.5 font-display">
                {{ song.artist }} - <strong>{{ song.title }}</strong>
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!challenge">
    <div
      class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex h-screen items-center justify-between"
    >
      <h1
        class="text-4xl text-center m-auto font-display font-bold tracking-tight"
      >
        <ion-spinner name="circles"></ion-spinner>
        <p>Um momento enquanto carregamos os dados do desafio...</p>
      </h1>
    </div>
  </ng-container>

  <ng-container *ngIf="challenge && !challenge.startingTimestamp">
    <div
      class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col justify-between"
    >
      <button class="uppercase text-sm text-left opacity-70" (click)="goBack()">
        <ion-icon name="chevron-back-outline" class="-mb-0.5"></ion-icon> Voltar
      </button>
      <span class="block mt-4 font-display uppercase font-bold tracking-widest"
        >Orbe {{ challengeTypeDisplayName[challenge.type] }}</span
      >
      <h1 class="text-3xl font-bold font-display tracking-tight sm:text-4xl">
        <span>Desafio</span>
      </h1>

      <span class="block mt-2">
        {{ challengeTimeDisplayName[challenge.time] }} • esperando
        oponente</span
      >
      <span class="block mt-2"
        >ID: <span class="font-bold">{{ challenge.id }}</span></span
      >
    </div>

    <div class="max-w-7xl mx-auto flex justify-between font-display text-xl">
      <span class="py-2 px-4 sm:px-6 lg:px-8"></span>
    </div>
  </ng-container>
</ion-content>
