.bar {
  height: 30px;
  background-color: #5b30d3;
  box-shadow: 0px 0px 2px 1px #181638;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-chart {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.bar:hover .tooltip {
  display: block;
}

.tooltip-container {
  cursor: pointer;
  position: relative;
}

.tooltip {
  opacity: 0;
  z-index: 99;
  color: #bbb;
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  font-size: 10px;
  text-shadow: 1px 1px 2px #111;
  background: rgba(25, 24, 85, 0.9);
  border: 1px solid rgba(34, 34, 34, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  left: 8px;
  bottom: 40px;
}

.tooltip:before,
.tooltip:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(25, 24, 85, 0.9);
  position: absolute;
  bottom: -10px;
  left: 30%;
}

.tooltip-container:hover .tooltip,
a:hover .tooltip {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

ion-item,
ion-list {
  --background: transparent;
}

ion-avatar img {
  object-fit: cover;
  height: 36px;
  width: 36px;
}

.orb-type {
  position: relative;
  min-height: 80px;

  .orb-image {
    position: absolute;
    top: -50px;
    right: 0;
  }
}

ion-thumbnail img {
  height: 80px;
  width: 80px;
}

.divider {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #5b30d340;
  margin: 16px 0;
}
